# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Libraries used by Data Scientists
* Data Science Tools
* Examples of simple arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib
5. Plotly
6. Seaborn

# Data Science Tools

| Data Science Tools | 
| :------- | 
| Jupyter Notebook |
| RStudio |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# Simple expressions
result1 = 3 * 2  # Multiplication
print(f"3 * 2 = {result1}")

result2 = 5 + 3  # Suma
print(f"5 + 3  = {result2}")

result3 = 10 / 2  # division
print(f"10 / 2 = {result3}")

3 * 2 = 6
5 + 3  = 8
10 / 2 = 5.0

In [3]:
result1 = (3*4)+5  # This a simple arithmetic expression to mutiply then add integers
print(f"(3*4)+5 = {result1}")

(3*4)+5 = 17

In [4]:
minstohrs =200 /60 #  This will convert 200 minutes to hours by diving by 60
minstohrs

3.3333333333333335

## Author
Rubi Ayon